#sidebar-main {
background-image:
url(../img/1.png),
url(../img/4.png) !important;

background-repeat:
no-repeat,
no-repeat !important;

background-position:
left -71px,
calc(50% + 8px) 468px !important; /*calc(50% + {for left} or - for {right}) {Negativ value for up or positiv value for down}  */

background-size:
auto,
250% auto !important;

min-width: 83.8px !important;
}

#sidebar-launcher-splitter {
visibility: hidden !important;
pointer-events: none !important;
width: 0 !important;
min-width: 0 !important;
display: block !important;
}

#sidebar-tools-and-extensions-splitter {
visibility: visible !important;
pointer-events: none !important;
/* width: 0 !important;
min-width: 0 !important; */
}

#sidebar-button {
opacity: 0 !important;
pointer-events: none !important;
user-select: none !important;
}


/*===========================*/
/*   Below is not my code    */
/*===========================*/

#tabbrowser-arrowscrollbox[orient="vertical"] {
padding-top: 59px;
}

#vertical-tabs {
display: flex !important;
flex-direction: column !important;
height: 100% !important;
overflow: hidden !important;
}

#tabbrowser-arrowscrollbox {
flex: 1 !important;
display: flex !important;
flex-direction: column !important;
justify-content: center !important;
align-items: center !important;
overflow-y: auto !important;
}

#tabbrowser-arrowscrollbox > tab {
width: 100% !important;
display: flex !important;
flex-direction: column !important;
justify-content: center !important;
align-items: center !important;
}

#tabbrowser-arrowscrollbox > tab .tab-content {
width: 100% !important;
display: flex !important;
flex-direction: column !important;
justify-content: center !important;
align-items: center !important;
}

#tabbrowser-arrowscrollbox > tab .tab-label {
color: black !important;
text-align: center !important;
}


#vertical-tabs > .buttons-wrapper {
display: flex !important;
flex-direction: column !important;
justify-content: center !important;
align-items: center !important;
flex: none !important;
width: 100% !important;
height: auto !important;
}

#vertical-tabs > .buttons-wrapper button-group {
display: flex !important;
flex-direction: column !important;
justify-content: center !important;
align-items: center !important;
width: 100% !important;
}

button-group.tools-and-extensions {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: flex-start !important;
    width: 100% !important;
}

button-group.tools-and-extensions > moz-button {
    margin: 4px 0 !important;
    align-self: center !important;
}
